/* You can add global styles to this file, and also import other style files */
@import '../../ngx-richtext/src/lib/styles/styles.css';

html,
body {
  margin: 0;
  background: #070a14;
  color: #e8eefc;
}

html {
  scroll-behavior: smooth;
}
