/* You can add global styles to this file, and also import other style files */
@import '../../ngx-richtext/src/lib/styles/styles.css';

html,
body {
  margin: 0;
  background: #f2f4f7;
}

body.demo-dark,
.demo--dark {
  background: #020617;
}
